<!doctype html>
{% load static %}
{#{% load media %}#}
{# carga archivos estaticos #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <title>Grid con Bootstrap</title>

    <style>
{#   quiero acceder a todas las filas, y despues a todos los divs que esten dentro de la fila     #}
        .row > div {
            background: #f2f2f2;
            margin: 10px 0;
            padding: 40px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h1>Hola es mi primera grind con BS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur, excepturi ipsa maiores maxime nesciunt nisi non, officia omnis, perferendis quidem quisquam quos ratione sequi sint sit suscipit temporibus voluptate.</p>
                <button class="btn btn-danger">Ver mas!</button>
            </div>
            <div class="col-12 col-sm-6">
                <h1>Hola es mi primera grind con BS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur, excepturi ipsa maiores maxime nesciunt nisi non, officia omnis, perferendis quidem quisquam quos ratione sequi sint sit suscipit temporibus voluptate.</p>
                <button class="btn btn-danger">Ver mas!</button>
            </div>
            <div class="col-12">
                <h1>Hola es mi primera grind con BS</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur, excepturi ipsa maiores maxime nesciunt nisi non, officia omnis, perferendis quidem quisquam quos ratione sequi sint sit suscipit temporibus voluptate.</p>
                <button class="btn btn-danger">Ver mas!</button>
            </div>
        </div>
    </div>


    <!-- JavaScript Bundle with Popper -->
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>